.page {
  min-height: 100dvh;
}

header {
  background-color: rgba(11, 11, 44, 0.517);
  border-bottom: 2px solid rgb(116, 116, 200);
  padding: 0.8rem;
}

main {
  padding: 2rem;
  flex-grow: 1;
}

.card {
  background-color: rgba(0, 0, 0, 0.443);
  display: flex;
  border-radius: 0.5rem;
  flex-direction: column;
  padding: 2rem;
  justify-content: start;
  align-items: center;
  flex-basis: 20dvh;
  flex-grow: 1;
}

button {
  border: 2px solid rgba(245, 245, 245, 0.598);
}
